{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Pages</h1>

    <table class="records_list table table-condensed table-striped table-bordered ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Title</th>







                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pages %}
            <tr>
                <td><a href="">{{ entity.id }}</a></td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.title }}</td>





                <td>

                        <a href="" class="fa fa-eye"></a>


                        <a href="" class="fa fa-edit"></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a class="btn btn-primary" href="{{ path('caravane_admin_cms_page_new') }}">
                New page
            </a>

    {% endblock %}
