{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Categories</h1>

    <table class="records_list table table-condensed table-striped table-bordered ">
        <thead>
        <tr>
            <th>Id</th>
            <th>Slug</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="">{{ category.id }}</a></td>
                <td>{{ category.slug }}</td>
                <td>{{ category.title }}</td>
                <td>
                    <a href="" class="fa fa-eye"></a>
                    <a href="" class="fa fa-edit"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="#">
        New category
    </a>

{% endblock %}
